CheckOptions:
  misc-const-correctness.WarnPointersAsValues: true
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-magic-numbers.IgnoredIntegerValues: 0; 1; 2; 3; 4; 5; 6; 7; 8; 9; 10
Checks: >
    *,
    -abseil-*,
    -altera-*,
    -android-*,
    -boost-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-empty-catch,
    -cert-err58-cpp,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-vararg,
    -darwin-*,
    -fuchsia-*,
    -google-*,
    -hicpp-avoid-c-arrays,
    -hicpp-braces-around-statements,
    -hicpp-no-array-decay,
    -hicpp-signed-bitwise,
    -hicpp-use-auto,
    -hicpp-vararg,
    -linuxkernel-*,
    -llvm-*,
    -llvmlibc-*,
    -misc-definitions-in-headers,
    -misc-use-internal-linkage,
    -modernize-avoid-bind,
    -modernize-avoid-c-arrays,
    -modernize-use-auto,
    -modernize-use-constraints,
    -modernize-use-designated-initializers,
    -modernize-use-ranges,
    -modernize-use-std-numbers,
    -modernize-use-trailing-return-type,
    -mpi-*,
    -objc-*,
    -openmp-*,
    -performance-enum-size,
    -readability-avoid-nested-conditional-operator,
    -readability-braces-around-statements,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -zircon-*,
HeaderFileExtensions: [h, hpp, cppm]
HeaderFilterRegex: .*
