---
CheckOptions:
    misc-const-correctness.WarnPointersAsValues: true
    misc-include-cleaner.IgnoreHeaders: time.h
Checks: >
    -*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-empty-catch,
    -bugprone-exception-escape,
    cert-*,
    -cert-err58-cpp,
    concurrency-*,
    -concurrency-mt-unsafe,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-interfaces-global-init,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-missing-std-forward,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-special-member-functions,
    hicpp-*,
    -hicpp-avoid-c-arrays,
    -hicpp-braces-around-statements,
    -hicpp-named-parameter,
    -hicpp-no-array-decay,
    -hicpp-special-member-functions,
    -hicpp-use-auto,
    misc-*,
    -misc-definitions-in-headers,
    modernize-*,
    -modernize-avoid-c-arrays,
    -modernize-use-auto,
    -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*,
    -readability-braces-around-statements,
    -readability-const-return-type,
    -readability-named-parameter,
    -readability-redundant-member-init,
    -readability-use-anyofallof,
HeaderFilterRegex: .*
